@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav {
    position: fixed;
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    z-index: 99;
}

.nav a {
    text-decoration: none;
    font-weight: 700;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 0 0.5vw;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: 1px solid white;
}
.nav a:hover {
    background-color: pink;
    color: black;
}

label {
    position: absolute;
    top: 3vh;
    right: 5vw;
    display: inline-block;
    width: 15vh;
    height: 5vh;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: 0.3s;
}
label::after {
    content:'';
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background-color: pink;
    border-radius: 4vh;
    transition: 0.3s;
    border: 1px solid white;
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background-color: white;
}
input:checked + label::after {
    left: 15.5vh;
    transform: translateX(-100%);
    background-color: black;
}

label svg {
    position: absolute;
    top: 0.5vh;
    width: 4vh;
    height: 4vh;
}

label svg.designer {
    left: 1vh;
    top: 1vh;
    width: 3vh;
    height: 3vh;
    fill: black;
    transition: 0.3s;
    z-index: 2;
}
label svg.developer {
    right: 0.5vh;
    fill: grey;
    transition: 0.3s;
    z-index: 2;
}
input:checked + label svg.designer {
    fill: grey;
}
input:checked + label svg.developer {
    fill: white;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image:url('src/designer.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    transition: 0.3;
}

input:checked ~ .background {
    background-image:url('src/developer.png') ;
}


.content1 {
    position: absolute;
    width: 40vw;
    height: auto;
    margin: 65vh 5vw;
    display: block;
}

.content1 h1 {
    font-size: 1rem;
    color: #E7603F;
}

.content1 p {
    font-size: 1.5rem;
    color: white;
}

.content2 {
    position: absolute;
    width: 40vw;
    height: auto;
    margin: 55vh 5vw;
    display: none;
}

.content2 h1 {
    font-size: 1rem;
    color: #E7603F;
}

.content2 p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding:0;
}

input:checked ~ .content1 {
    display: none;
}

input:checked ~ .content2 {
    display: block;
}


.design {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECF1F0;
    margin: 0;
    padding-bottom: 10vh;
}

.design h1 {
    font-size: 3rem;
    color: black;
    font-weight: 500;
    padding: 10vh 0;
}

.project {
    width: 90vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 5vw;
}

.project img {
    width: 25vw;
    height: 25vh;
    margin: 2vh 2vw;
    border-radius: 10px;
    object-fit: cover;
}

.project h2 {
    font-weight: 600;
    font-size: 2rem;
    width: 25vw;
}

.info {
    width: 30vw;
    height: auto;
    margin-left:10vw;
}

.info h3 {
    font-size: 1rem;
    color: #E7603F;
}
.project:hover {
    background-color: black;
    border-radius: 200px;
    cursor: pointer;
}


.project:hover > img {
    border-radius: 200px;
}

.project:hover > h2,
.project:hover > .info p {
    color: white;
}


.develop {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    padding-bottom: 10vh;
}

.develop h1 {
    font-size: 3rem;
    color: white;
    font-weight: 500;
    padding: 10vh 0;
}


.project-dev {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 5vw;
}

.project-dev img {
    width: 20vw;
    height: 16vh;
    margin: 2vh 2vw;
    border-radius: 10px;
    object-fit: cover;
}

.project-dev h2 {
    font-weight: 600;
    font-size: 2rem;
    width: 30vw;
}

.info {
    width: 25vw;
    height: auto;
    margin-left:10vw;
}

.info h3 {
    font-size: 1rem;
    color: #E7603F;
}
.project-dev:hover {
    background-color: pink;
    border-radius: 200px;
    cursor: pointer;
}


.project-dev:hover > img {
    border-radius: 200px;
}

.project-dev:hover > h2,
.project-dev:hover > .info p {
    color: black;
}




.about {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECF1F0;
    margin: 0;
}

.about h1 {
    font-size: 3rem;
    font-weight: 500;
    padding: 10vh 0;
    color: black;
    display: flex;
    justify-content: center;
}

.about a {
    width: 10vw;
    height: auto;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10vh 45vw;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
.about a:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}

.line {
    width: 90vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 5vw;
    border-bottom: black 2px solid;
}



.contact {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ECF1F0;
    color: black;
    margin: 0;
    padding-bottom: 10vh;
}

.contact h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5vh 0;
    color: #E7603F;
    margin-left: 5vw;
}

.contact p {
    font-size: 3rem;
    font-weight: 600;
    padding: 0 5vw;
    margin:0;
    transition: transform 0.3s ease;
}
.contact p:hover {
    transform: translateX(5vw);
    cursor: pointer;
}

.header {
    width: 100vw;
    height: 10vh;
}

.ppt {
    position: relative;
    width: 90vw;
    margin: 10vh 5vw;
    display: flex;
    flex-direction: column;
}

.ppt img {
    width: 90vw;
    height: auto;
}

.switch {
    width: 90vw;
    height: 20vh;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.switch a {
    padding: 5px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.switch a:hover {
    background-color: pink;
    color: black;
}