@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Khand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: 'Khand', sans-serif;
    --font-body: 'Hind', sans-serif;
    --color-01: #493D9E;
    --color-02: #B2A5FF;
    --color-03: #DAD2FF;
    --color-04: #FFF2AF;
    --color-textstrong: #181818;
    --color-textweak: #626262;
    --color-strokestrong: #888888;
    --color-strokeweak: #DEDEDE;
    --color-fill: #EDEDED;

    /* Define heading styles */
    --text-h1: 102px;       /* 48px */
    --leading-h1: 120px;
    --text-h2: 68px;    /* 36px */
    --leading-h2: 88px;
    --text-h3: 45px;    /* 28px */
    --leading-h3: 60px;
    --text-h4: 30px;    /* 20px */
    --leading-h4: 40px;

    /* Define body styles */
    --text-body: 20px;   /* 16px */
    --leading-body: 32px;
    --text-small: 14px;  /* 14px */
    --leading-small: 24px;
}

